.wrap {
	text-align: center;
}

.todo_box {
	display: inline-block;
	padding-top: 120px;
	position: relative;
}

.todo_box .menu {
	float: left;
}

.main_title {
	position: absolute;
	top: 60px;
	font-weight: bold;
	left: 10px;
	font-size: 26px;
	color: rgb(66, 100, 117);
}

.menu .status_title {
	background-color: rgb(52, 84, 97);
	color: #fff;
	padding: 20px 210px 25px 10px;
	font-weight: bold;
}

.menu:nth-child(n+2) {
	margin-left: 10px;
}

.menu .todo_list .item {
	text-align: left;
	position: relative;
	padding: 1rem 3rem 1rem 1rem;
	background-color: rgb(206, 229, 239);
	margin-top: 10px;
}

.todo_list .item .todo_title {
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 10px;
	color: #000;
}

.todo_list .item .todo_text {
	color: rgb(24, 63, 88);
	font-size: 13px;
}

.todo_list .item .move_btn {
	position: absolute;
	right: 10px;
	width: 22px;
	height: 20px;
	bottom: 12px;
}

.todo_list .item .move_btn::after {
	content: "";
	position: absolute;
	background-image: url(../images/right_arrow.png);
	top: 0;
	bottom: 0;
	background-size: contain;
	left: 0;
	right: 0;
	margin: auto;
	width: 10px;
	height: 10px;
}

.register {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: rgb(32, 173, 273);
	padding: 10px 30px;
	font-weight: bold;
	color: #fff;
}