.wrap {
	width: max-content;
	margin: 50px auto;
}

.wrap .title {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	text-align: center;
}

.work_box, .who_box, .priority_box {
	margin-top: 20px;
}

.work_box input {
	width: 400px;
	height: 25px;
	margin-top: 5px;
	border: 1px solid #d1d1d1;
}

.wrap label {
	display: block;
}

.who_box input {
	margin-top: 5px;
	height: 25px;
	width: 200px;
	height: 25px;
	border: 1px solid #d1d1d1;
}

.priority_box .priority {
	margin-top: 5px;
	float: left;
}

.priority label, .priority input {
	float: left;
}

.priority label {
	position: relative;
	left: 3px;
}

.priority:nth-child(n+3) {
	margin-left: 20px;
}

.button_box {
	margin-top: 40px;
}

.button_box .prev_btn {
	float: left;
	background-color: #fff;
	border: 1px solid #201c1c;
	padding: 9px 25px;
}

.button_box .prev_btn p {
	border-bottom: 1px solid #393434;
}

.button_box .btn_group {
	float: right;
}

.btn_group button {
	background-color: rgb(32, 173, 273);
	border: 0;
	height: 32px;
	width: 100px;
	font-weight: bold;
	color: #fff;
}

.btn_group button:nth-child(n+2) {
	margin-left: 15px;
}